.type-22 .owl-prev:hover {
    color: #23527c;
}
.type-22 .user {
    font-weight: bold;
    margin-left: -100px;
}
.type-22 .gach-ngang {
    border: 1px solid red;
    width: 7%;
    margin-left: -100px;
}
.type-22 .gach-ngang1 {
    border: 1px solid #444444;
    width: 2%;
    float: right;
    margin-right: 64px;
    position: relative;
    top: -29px;
}
.type-22 .fa:hover {
    background: #E24545;
    color: #fff;
}
.type-22 .owl-theme .owl-nav {
    position: relative;
    top: -539px;
    float: right;
}
.type-22 .chu3 {
    margin-left: 32px;
}
.type-22 .chu3 h6 {
    color: black;
    font-weight: bold;
    margin-left: 30px;
    white-space: nowrap;
}
.type-22 .chu3 .gia {
    position: absolute;
    color: #E24545;
    margin-top: -21px;
    margin-left: 70px;
}
.type-22 .chu3 .icon-fa {
    margin-left: 50px;
}
.type-22 .chu3 .icon-fa .fa {
    margin-top: 30px;
    padding: 10px;
    border: 1px solid #EEEEEE;
}
.type-22 .chu2 {
    margin-left: 32px;
}
.type-22 .chu2 h6 {
    color: black;
    font-weight: bold;
    margin-left: 30px;
    white-space: nowrap;
}
.type-22 .chu2 .gia {
    position: absolute;
    color: #E24545;
    margin-top: -21px;
    margin-left: 70px;
}
.type-22 .chu2 .icon-fa {
    margin-left: 50px;
}
.type-22 .chu2 .icon-fa .fa {
    margin-top: 30px;
    margin-left: -5px;
    padding: 10px;
    border: 1px solid #EEEEEE;
}
.type-22 .chu1 {
    margin-left: 32px;
}
.type-22 .chu1 h6 {
    color: black;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 40px;
    white-space: nowrap;
}
.type-22 .chu1 .gia {
    position: absolute;
    color: #E24545;
    margin-top: -21px;
    margin-left: 70px;
}
.type-22 .chu1 .icon-fa {
    margin-left: 50px;
}
.type-22 .chu1 .icon-fa .fa {
    margin-top: 30px;
    margin-left: -5px;
    padding: 10px;
    border: 1px solid #EEEEEE;
}
.type-22 .chu {
    margin-left: 32px;
}
.type-22 .chu h6 {
    color: black;
    font-weight: bold;
    white-space: nowrap;
}
.type-22 .chu .money {
    margin-top: -22px;
    position: relative;
    margin-left: 36px;
}
.type-22 .chu .money .gia {
    position: absolute;
    color: #E24545;
}
.type-22 .chu .money .del {
    color: #D8D8D8;
}
.type-22 .chu .money .del .gia1 {
    color: #D8D8D8;
}
.type-22 .chu .icon-fa {
    margin-left: 50px;
}
.type-22 .chu .icon-fa .fa {
    margin-top: 30px;
    margin-left: -5px;
    padding: 10px;
    border: 1px solid #EEEEEE;
}
