.type-21 {
  position: relative;
  top: 65px;
}
.type-21 .thanhdoc {
  border: 1px solid #EEEEEE;
}
.type-21 .nav-tabs>li.active>a,
.type-21 .nav-tabs>li.active>a:focus,
.type-21 .nav-tabs>li.active>a:hover {
  border: none;
  color: #cccccc;
  border-bottom: 2px solid #e24545;
  width: 10%;
}
.type-21 .nav-tabs {
  margin-top: 40px;
  border: none;
}
.type-21 .nav>li>a {
  padding: 0;
}
.type-21 .nav-tabs>li {
  padding-right: 24px;
}
.type-21 .nav>li>a {
  font-weight: bold;
  color: #000;
  border-bottom: 2px solid #e24545;
  width: 10%;
  font-size: 18px;
  border: none;
}
.type-21 .tab-content>.active {
  margin-top: 36px;
  line-height: 1.7;
}
.type-21 .fa1 {
  float: right;
}
.type-21 .fa1 .fa {
  color: #e24545;
}
.type-21 .gach {
  border-bottom: 1px solid #EEEEEE;
}
.type-21 .amin {
  color: #878787;
}
.type-21 .time {
  color: #929292;
}
.type-21 .cmttext1 {
  margin: 0 15px;
}
.type-21 .cmttext {
  padding: 15px 0;
}
.type-21 .cmt {
  margin-top: -15px;
}
.type-21 .add h3 {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 22px;
  padding-bottom: 37px;
  font-style: normal;
}
.type-21 .required {
  color: red;
}
.type-21 .star1:hover {
  color: #FFC816;
}
.type-21 .star4:hover {
  color: #FFC816;
}
.type-21 .star1,
.type-21 .star4 .fa {
  color: #DDDDDD;
}
.type-21 .star1,
.type-21 .star4 {
  border-right: 1px solid #EEEEEE;
  padding-right: 5px;
}
.type-21 .txt #comment {
  height: 117px;
  width: 80%;
  box-sizing: border-box;
}
.type-21 .txt {
  margin: 22px 0;
}
.type-21 #comment {
  resize: none;
  border: 2px solid #ececec;
}
.type-21 #author {
  resize: none;
  border: 2px solid #ececec;
  height: 47px;
  width: 339px;
  margin: 0 33px;
}
.type-21 .txt1 #author {
  height: 28px;
  margin: 0;
  width: 80%;
}
.type-21 .dangnhap {
  padding: 5px;
  background: none;
  transition: all 300ms ease 0s;
  font-size: 13px;
  border: 2px solid #000;
  font-weight: bold;
  width: 99px;
}
.type-21 .dangnhap:hover {
  background: #E24545;
  color: #fff;
  border: 2px solid #E24545;
}
.type-21 .dp .dangnhap {
  float: right;
  margin: 24px 170px;
}
.type-21 .hinh {
  padding: 0;
}
.type-21 .add {
  margin-top: 66px;
}
.type-21 .admin {
  margin-left: -45px;
}
.type-21 .nav>li>a:hover {
  background: none;
}
@media screen and (max-width: 480px) {
  .stype-107 .nav>li>a {
    padding-top: 15px;
    border-bottom: 2px solid #e24545;
  }
  .stype-107 .dp .dangnhap {
    float: left;
  }
  .name {
    width: 50px;
  }
  .cmttext {
    float: left;
  }
  .hinhnguoi {
    float: left;
  }
  input {
    width: 60px;
  }
}
